　
<section id="output-area">
  <div class="container">
    <div class="output-field border border-primary">
      <div class="col">
        <h3 id="output_word"><%= @word_output  %></h3>
      </div>
    </div>
  </div>
</section>
