<div class="size-example">
<p class="size-18px">18px</p>
<p class="size-22px">22px</p>
<p class="size-50px">50px</p>
<h1>h1 3rem?</h1>
<p class="size-3rem">3rem</p>
<h2>h2 2rem?</h2>
<h3>h3kkkk</h3>
<p class="size-22px">22px</p>
<p class="size-1rem">1rem</p>
<p class="size-18px">18px</p>
<p class="size-2rem">2rem</p>
<p class="size-3rem">3rem</p>
<p class="size-4rem">4rem</p>
</div>
