<main>
<section class="title-area">
  <div class="container">
    <h1 class="display-3">褒め言葉ジェネレーター</h1>
    <p>褒め言葉を作ります</p>
  </div>
</section>

<section class="input-area">
  <div class="container">
    <ul>
      <li>
        <div class="row">
          <div class="col-sm-6 input-description">
            <p>説明文</p>
          </div>
          <div class="col-sm-6">
            <p>ここにドロップテーブルなどを入れます</p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-sm-6 input-description">
            <p>説明文</p>
          </div>
          <div class="col-sm-6">
            <p>ここにドロップテーブルなどを入れます</p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-sm-6 input-description">
            <p>説明文</p>
          </div>
          <div class="col-sm-6">
            <p>ここにドロップテーブルなどを入れます</p>
          </div>
        </div>
      </li>

    </ul>
    <button class="btn btn-primary btn-block" type="botton">
      出力
    </button>
  </div>
</section> 

<section class="output-area">
  <div class="container">
    <div class="row align-items-center border border-primary">
      <div class="col">
        <p>ここに出力します</p>
      </div>
    </div>
  </div>
</section>
</main>

<footer>

</footer>
