<main>
<section id="title-area" class="text-center">
  <div class="container">
    <h1>「褒め言葉」ジェネレーター</h1>
    <h3>持ち物の褒め言葉を作ります</h3>
  </div>
</section>

<section id="input-area" class="text-center">
  <div class="container">
    <h3>あなたが褒めたいと思っている人の<br>情報を入力してください</h3>
    <ul class="list-unstyled">
      <li>
        <div class="row input-item">
          <div class="col-sm-6 text-sm-left input-description">
            <h2>その人の性別は？</h2>
          </div>
          <div class="col-sm-6">
            <p>ドロップテーブル</p>
          </div>
        </div>
      </li>

      <li>
        <div class="row input-item">
          <div class="col-sm-6 text-sm-left input-description">
            <h2>あなたとの関係は？</h2>
          </div>
          <div class="col-sm-6">
            <p>ドロップテーブル</p>
          </div>
        </div>
      </li>

      <li>
        <div class="row input-item">
          <div class="col-sm-6 text-sm-left input-description">
            <h2>何を褒めたいですか？</h2>
          </div>
          <div class="col-sm-6">
            <p>入力</p>
          </div>
        </div>
      </li>

      <li>
        <div class="row input-item">
          <div class="col-sm-6 text-sm-left input-description">
            <h2>どんな色ですか？</h2>
          </div>
          <div class="col-sm-6">
            <p>ドロップテーブル</p>
          </div>
        </div>
      </li>
    </ul>

    <button class="btn btn-primary btn-block" type="botton">
      出力
    </button>
  </div>
</section> 

<section id="output-area">
  <div class="container">
    <div class="output-field border border-primary">
      <div class="col">
        <h3>ここに出力します</h3>
      </div>
    </div>
  </div>
</section>

<footer class="text-center">
  <div class="container">
    <p>@2019 copyright</p>
  </div>
</footer>
</main>
