html {
  // 基準1rem=10pxで行く
  font-size: 62.5%;
  // 600px以降から、100pxごとに1.25px大きくなる
  @media (min-width: 600px) {
    font-size: calc(62.5% + 5 * (100vw - 600px) / 400)
  }

  // 1,000px以上は、15pxに
  @media (min-width: 1000px) {
    font-size: calc(15/16*100%)
  }
}

main {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  .container {
    margin: 0 auto;
  }

  #title-area {
    background: rgba(255,0,0,0.2);
    padding: 3rem 0 2rem 0;
    h1 {
      margin-bottom: 1rem;
    }
  }

  #input-area {
    background: rgba(25, 82, 82, 0.1);
    padding-top: 1rem;
    ul {
      li {
        .input-item {
          margin-bottom: 2rem;
          .input-description {
            h2 {
              margin-left: 3rem;
            }
          }
          .drop-item {
            width: 10rem;
            margin: 0 auto;
          }
        }
      }
    }
    .btn {
      width: 30%;
    }
  }

  #output-area {
    background: rgba(16, 242, 242, 0.1);
    padding: 1rem 0;
    .output-field {
      padding: 1rem;
      height: 4rem;
    }
  }

  footer {
    background: rgba(0, 173, 173, 0.5);
    padding: 1rem 0;
  }
}
